fastapi==0.115.0
uvicorn==0.30.6

pydantic==2.12.5
python-dotenv==1.0.1

crewai==0.11.2

openai==1.109.1
google-generativeai==0.8.5

requests==2.32.3
httpx==0.28.1

pandas==2.3.3
numpy==1.26.4

python-multipart==0.0.20

beautifulsoup4==4.14.2
lxml==6.0.2
pdfplumber==0.11.7

scikit-learn==1.7.2
